.navbar-brand {
    padding: 10px 10px;
    border: 3px solid rgb(26, 24, 24);
    font-weight: 700;
    border-radius: 5px;
    font-family: agencyfb;

}

.decor {
    margin: 10px 20px;
    font-size: 20px;
}

/* NAVBAR DONE */
/* CAROUSEL STRARTED */

/* .carousel-inner .carousel-item .row img {
    width: 40%;
} */
.caro-bg {
    background-color: rgb(145, 143, 143);
    margin-top: 30px;
}

.w-60 {
    width: 75%;
}

.w-70 {
    width: 67%;
}

/* 
.carousel-item {
    padding: 20px 120px;
} */

.col-md-7 {
    padding-left: 200px;
}

.col-md-7 button {
    margin-top: 40px;
}

.buy-now-button {
    font-size: 20px;
    font-weight: 700;
    background-image: linear-gradient(to bottom, #535252 0%, #161515 100%);
    color: #f4ecec;
    border: none;
    border-radius: 8px;
    padding: 15px 45px;
    cursor: pointer;
}

.price {
    /* font-weight: bold; */
    /* font-family: agencyfb; */
    color: #f4ecec;
    font-size: 60px;

}

.container2 {
    margin-top: 50px;
}

.card {
    border: none;
    box-shadow: 5px 5px 10px rgb(174, 171, 171);
    border-radius: 10px;
}

/* CARD1 ENDED */
/* CARD3 STARTED */


/* CARD2 STARTED */
.container3 {
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card2 {
    width: 80%;
}

.col-md-6 img {
    width: 65%;
}

.g-0 {
    background-color: rgb(164, 163, 163);
}

.card-body {
    margin-top: 25px;
}

/* CARD2 ENDED */
.btn {
    margin: 10px 55px;
}

.form-control {
    border: 2px solid #535252;
}

footer {
    text-align: center;
}